<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.ysu.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="org.software.ysu.pojo.Blog">
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="blog_name" jdbcType="VARCHAR" property="blogName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="blog_hidden" jdbcType="INTEGER" property="blogHidden" />
    <result column="blog_createTime" jdbcType="TIMESTAMP" property="blogCreatetime" />
    <result column="blog_updateTime" jdbcType="TIMESTAMP" property="blogUpdatetime" />
    <result column="blog_picdefault" jdbcType="VARCHAR" property="blogPicdefault" />
    <result column="blog_picbig" jdbcType="VARCHAR" property="blogPicbig" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.software.ysu.pojo.BlogWithBLOBs">
    <result column="blog_des" jdbcType="LONGVARCHAR" property="blogDes" />
    <result column="blog_body" jdbcType="LONGVARCHAR" property="blogBody" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    blog_id, blog_name, user_id, user_name, category_id, category_name, blog_hidden, 
    blog_createTime, blog_updateTime, blog_picdefault, blog_picbig
  </sql>
  <sql id="Blob_Column_List">
    blog_des, blog_body
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.software.ysu.pojo.BlogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.software.ysu.pojo.BlogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.software.ysu.pojo.BlogExample">
    delete from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.software.ysu.pojo.BlogWithBLOBs">
    insert into blog (blog_id, blog_name, user_id, 
      user_name, category_id, category_name, 
      blog_hidden, blog_createTime, blog_updateTime, 
      blog_picdefault, blog_picbig, blog_des, 
      blog_body)
    values (#{blogId,jdbcType=INTEGER}, #{blogName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, 
      #{blogHidden,jdbcType=INTEGER}, #{blogCreatetime,jdbcType=TIMESTAMP}, #{blogUpdatetime,jdbcType=TIMESTAMP}, 
      #{blogPicdefault,jdbcType=VARCHAR}, #{blogPicbig,jdbcType=VARCHAR}, #{blogDes,jdbcType=LONGVARCHAR}, 
      #{blogBody,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.software.ysu.pojo.BlogWithBLOBs">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="blogName != null">
        blog_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="blogHidden != null">
        blog_hidden,
      </if>
      <if test="blogCreatetime != null">
        blog_createTime,
      </if>
      <if test="blogUpdatetime != null">
        blog_updateTime,
      </if>
      <if test="blogPicdefault != null">
        blog_picdefault,
      </if>
      <if test="blogPicbig != null">
        blog_picbig,
      </if>
      <if test="blogDes != null">
        blog_des,
      </if>
      <if test="blogBody != null">
        blog_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="blogName != null">
        #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="blogHidden != null">
        #{blogHidden,jdbcType=INTEGER},
      </if>
      <if test="blogCreatetime != null">
        #{blogCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogUpdatetime != null">
        #{blogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogPicdefault != null">
        #{blogPicdefault,jdbcType=VARCHAR},
      </if>
      <if test="blogPicbig != null">
        #{blogPicbig,jdbcType=VARCHAR},
      </if>
      <if test="blogDes != null">
        #{blogDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="blogBody != null">
        #{blogBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.software.ysu.pojo.BlogExample" resultType="java.lang.Long">
    select count(*) from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog
    <set>
      <if test="record.blogId != null">
        blog_id = #{record.blogId,jdbcType=INTEGER},
      </if>
      <if test="record.blogName != null">
        blog_name = #{record.blogName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryName != null">
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.blogHidden != null">
        blog_hidden = #{record.blogHidden,jdbcType=INTEGER},
      </if>
      <if test="record.blogCreatetime != null">
        blog_createTime = #{record.blogCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blogUpdatetime != null">
        blog_updateTime = #{record.blogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blogPicdefault != null">
        blog_picdefault = #{record.blogPicdefault,jdbcType=VARCHAR},
      </if>
      <if test="record.blogPicbig != null">
        blog_picbig = #{record.blogPicbig,jdbcType=VARCHAR},
      </if>
      <if test="record.blogDes != null">
        blog_des = #{record.blogDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.blogBody != null">
        blog_body = #{record.blogBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update blog
    set blog_id = #{record.blogId,jdbcType=INTEGER},
      blog_name = #{record.blogName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      blog_hidden = #{record.blogHidden,jdbcType=INTEGER},
      blog_createTime = #{record.blogCreatetime,jdbcType=TIMESTAMP},
      blog_updateTime = #{record.blogUpdatetime,jdbcType=TIMESTAMP},
      blog_picdefault = #{record.blogPicdefault,jdbcType=VARCHAR},
      blog_picbig = #{record.blogPicbig,jdbcType=VARCHAR},
      blog_des = #{record.blogDes,jdbcType=LONGVARCHAR},
      blog_body = #{record.blogBody,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog
    set blog_id = #{record.blogId,jdbcType=INTEGER},
      blog_name = #{record.blogName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      blog_hidden = #{record.blogHidden,jdbcType=INTEGER},
      blog_createTime = #{record.blogCreatetime,jdbcType=TIMESTAMP},
      blog_updateTime = #{record.blogUpdatetime,jdbcType=TIMESTAMP},
      blog_picdefault = #{record.blogPicdefault,jdbcType=VARCHAR},
      blog_picbig = #{record.blogPicbig,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.software.ysu.pojo.BlogWithBLOBs">
    update blog
    <set>
      <if test="blogName != null">
        blog_name = #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="blogHidden != null">
        blog_hidden = #{blogHidden,jdbcType=INTEGER},
      </if>
      <if test="blogCreatetime != null">
        blog_createTime = #{blogCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogUpdatetime != null">
        blog_updateTime = #{blogUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="blogPicdefault != null">
        blog_picdefault = #{blogPicdefault,jdbcType=VARCHAR},
      </if>
      <if test="blogPicbig != null">
        blog_picbig = #{blogPicbig,jdbcType=VARCHAR},
      </if>
      <if test="blogDes != null">
        blog_des = #{blogDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="blogBody != null">
        blog_body = #{blogBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.software.ysu.pojo.BlogWithBLOBs">
    update blog
    set blog_name = #{blogName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      blog_hidden = #{blogHidden,jdbcType=INTEGER},
      blog_createTime = #{blogCreatetime,jdbcType=TIMESTAMP},
      blog_updateTime = #{blogUpdatetime,jdbcType=TIMESTAMP},
      blog_picdefault = #{blogPicdefault,jdbcType=VARCHAR},
      blog_picbig = #{blogPicbig,jdbcType=VARCHAR},
      blog_des = #{blogDes,jdbcType=LONGVARCHAR},
      blog_body = #{blogBody,jdbcType=LONGVARCHAR}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.software.ysu.pojo.Blog">
    update blog
    set blog_name = #{blogName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      blog_hidden = #{blogHidden,jdbcType=INTEGER},
      blog_createTime = #{blogCreatetime,jdbcType=TIMESTAMP},
      blog_updateTime = #{blogUpdatetime,jdbcType=TIMESTAMP},
      blog_picdefault = #{blogPicdefault,jdbcType=VARCHAR},
      blog_picbig = #{blogPicbig,jdbcType=VARCHAR}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
</mapper>