<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.ysu.dao.MaterialMapper">
  <resultMap id="BaseResultMap" type="org.software.ysu.pojo.Material">
    <id column="material_id" jdbcType="INTEGER" property="materialId" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_url" jdbcType="VARCHAR" property="materialUrl" />
    <result column="assort_id" jdbcType="INTEGER" property="assortId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.software.ysu.pojo.Material">
    <result column="material_des" jdbcType="LONGVARCHAR" property="materialDes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    material_id, material_name, material_url, assort_id
  </sql>
  <sql id="Blob_Column_List">
    material_des
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.software.ysu.pojo.MaterialExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.software.ysu.pojo.MaterialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from material
    where material_id = #{materialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from material
    where material_id = #{materialId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.software.ysu.pojo.MaterialExample">
    delete from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.software.ysu.pojo.Material">
    insert into material (material_id, material_name, material_url, 
      assort_id, material_des)
    values (#{materialId,jdbcType=INTEGER}, #{materialName,jdbcType=VARCHAR}, #{materialUrl,jdbcType=VARCHAR}, 
      #{assortId,jdbcType=INTEGER}, #{materialDes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.software.ysu.pojo.Material">
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialUrl != null">
        material_url,
      </if>
      <if test="assortId != null">
        assort_id,
      </if>
      <if test="materialDes != null">
        material_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        #{materialId,jdbcType=INTEGER},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUrl != null">
        #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="assortId != null">
        #{assortId,jdbcType=INTEGER},
      </if>
      <if test="materialDes != null">
        #{materialDes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.software.ysu.pojo.MaterialExample" resultType="java.lang.Long">
    select count(*) from material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update material
    <set>
      <if test="record.materialId != null">
        material_id = #{record.materialId,jdbcType=INTEGER},
      </if>
      <if test="record.materialName != null">
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialUrl != null">
        material_url = #{record.materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.assortId != null">
        assort_id = #{record.assortId,jdbcType=INTEGER},
      </if>
      <if test="record.materialDes != null">
        material_des = #{record.materialDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update material
    set material_id = #{record.materialId,jdbcType=INTEGER},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_url = #{record.materialUrl,jdbcType=VARCHAR},
      assort_id = #{record.assortId,jdbcType=INTEGER},
      material_des = #{record.materialDes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update material
    set material_id = #{record.materialId,jdbcType=INTEGER},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_url = #{record.materialUrl,jdbcType=VARCHAR},
      assort_id = #{record.assortId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.software.ysu.pojo.Material">
    update material
    <set>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUrl != null">
        material_url = #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="assortId != null">
        assort_id = #{assortId,jdbcType=INTEGER},
      </if>
      <if test="materialDes != null">
        material_des = #{materialDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.software.ysu.pojo.Material">
    update material
    set material_name = #{materialName,jdbcType=VARCHAR},
      material_url = #{materialUrl,jdbcType=VARCHAR},
      assort_id = #{assortId,jdbcType=INTEGER},
      material_des = #{materialDes,jdbcType=LONGVARCHAR}
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.software.ysu.pojo.Material">
    update material
    set material_name = #{materialName,jdbcType=VARCHAR},
      material_url = #{materialUrl,jdbcType=VARCHAR},
      assort_id = #{assortId,jdbcType=INTEGER}
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
</mapper>