<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.ysu.dao.PhotographMapper">
  <resultMap id="BaseResultMap" type="org.software.ysu.pojo.Photograph">
    <id column="photo_id" jdbcType="INTEGER" property="photoId" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.software.ysu.pojo.Photograph">
    <result column="photo_des" jdbcType="LONGVARCHAR" property="photoDes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    photo_id, photo_url, subject_id
  </sql>
  <sql id="Blob_Column_List">
    photo_des
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.software.ysu.pojo.PhotographExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from photograph
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.software.ysu.pojo.PhotographExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from photograph
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from photograph
    where photo_id = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from photograph
    where photo_id = #{photoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.software.ysu.pojo.PhotographExample">
    delete from photograph
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.software.ysu.pojo.Photograph">
    insert into photograph (photo_id, photo_url, subject_id, 
      photo_des)
    values (#{photoId,jdbcType=INTEGER}, #{photoUrl,jdbcType=VARCHAR}, #{subjectId,jdbcType=INTEGER}, 
      #{photoDes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.software.ysu.pojo.Photograph">
    insert into photograph
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="photoId != null">
        photo_id,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="photoDes != null">
        photo_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="photoId != null">
        #{photoId,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="photoDes != null">
        #{photoDes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.software.ysu.pojo.PhotographExample" resultType="java.lang.Long">
    select count(*) from photograph
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update photograph
    <set>
      <if test="record.photoId != null">
        photo_id = #{record.photoId,jdbcType=INTEGER},
      </if>
      <if test="record.photoUrl != null">
        photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectId != null">
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.photoDes != null">
        photo_des = #{record.photoDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update photograph
    set photo_id = #{record.photoId,jdbcType=INTEGER},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      photo_des = #{record.photoDes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update photograph
    set photo_id = #{record.photoId,jdbcType=INTEGER},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      subject_id = #{record.subjectId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.software.ysu.pojo.Photograph">
    update photograph
    <set>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="photoDes != null">
        photo_des = #{photoDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where photo_id = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.software.ysu.pojo.Photograph">
    update photograph
    set photo_url = #{photoUrl,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=INTEGER},
      photo_des = #{photoDes,jdbcType=LONGVARCHAR}
    where photo_id = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.software.ysu.pojo.Photograph">
    update photograph
    set photo_url = #{photoUrl,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=INTEGER}
    where photo_id = #{photoId,jdbcType=INTEGER}
  </update>
</mapper>