<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.ysu.dao.TeamMapper">
  <resultMap id="BaseResultMap" type="org.software.ysu.pojo.Team">
    <id column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_aim" jdbcType="VARCHAR" property="teamAim" />
    <result column="team_location" jdbcType="VARCHAR" property="teamLocation" />
    <result column="team_phone" jdbcType="VARCHAR" property="teamPhone" />
    <result column="team_email" jdbcType="VARCHAR" property="teamEmail" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.software.ysu.pojo.TeamWithBLOBs">
    <result column="team_des" jdbcType="LONGVARCHAR" property="teamDes" />
    <result column="team_memberDes" jdbcType="LONGVARCHAR" property="teamMemberdes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    team_id, team_name, team_aim, team_location, team_phone, team_email
  </sql>
  <sql id="Blob_Column_List">
    team_des, team_memberDes
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.software.ysu.pojo.TeamExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.software.ysu.pojo.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.software.ysu.pojo.TeamExample">
    delete from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.software.ysu.pojo.TeamWithBLOBs">
    insert into team (team_id, team_name, team_aim, 
      team_location, team_phone, team_email, 
      team_des, team_memberDes)
    values (#{teamId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{teamAim,jdbcType=VARCHAR}, 
      #{teamLocation,jdbcType=VARCHAR}, #{teamPhone,jdbcType=VARCHAR}, #{teamEmail,jdbcType=VARCHAR}, 
      #{teamDes,jdbcType=LONGVARCHAR}, #{teamMemberdes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.software.ysu.pojo.TeamWithBLOBs">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamAim != null">
        team_aim,
      </if>
      <if test="teamLocation != null">
        team_location,
      </if>
      <if test="teamPhone != null">
        team_phone,
      </if>
      <if test="teamEmail != null">
        team_email,
      </if>
      <if test="teamDes != null">
        team_des,
      </if>
      <if test="teamMemberdes != null">
        team_memberDes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamAim != null">
        #{teamAim,jdbcType=VARCHAR},
      </if>
      <if test="teamLocation != null">
        #{teamLocation,jdbcType=VARCHAR},
      </if>
      <if test="teamPhone != null">
        #{teamPhone,jdbcType=VARCHAR},
      </if>
      <if test="teamEmail != null">
        #{teamEmail,jdbcType=VARCHAR},
      </if>
      <if test="teamDes != null">
        #{teamDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="teamMemberdes != null">
        #{teamMemberdes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.software.ysu.pojo.TeamExample" resultType="java.lang.Long">
    select count(*) from team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update team
    <set>
      <if test="record.teamId != null">
        team_id = #{record.teamId,jdbcType=INTEGER},
      </if>
      <if test="record.teamName != null">
        team_name = #{record.teamName,jdbcType=VARCHAR},
      </if>
      <if test="record.teamAim != null">
        team_aim = #{record.teamAim,jdbcType=VARCHAR},
      </if>
      <if test="record.teamLocation != null">
        team_location = #{record.teamLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.teamPhone != null">
        team_phone = #{record.teamPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.teamEmail != null">
        team_email = #{record.teamEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.teamDes != null">
        team_des = #{record.teamDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.teamMemberdes != null">
        team_memberDes = #{record.teamMemberdes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update team
    set team_id = #{record.teamId,jdbcType=INTEGER},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      team_aim = #{record.teamAim,jdbcType=VARCHAR},
      team_location = #{record.teamLocation,jdbcType=VARCHAR},
      team_phone = #{record.teamPhone,jdbcType=VARCHAR},
      team_email = #{record.teamEmail,jdbcType=VARCHAR},
      team_des = #{record.teamDes,jdbcType=LONGVARCHAR},
      team_memberDes = #{record.teamMemberdes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update team
    set team_id = #{record.teamId,jdbcType=INTEGER},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      team_aim = #{record.teamAim,jdbcType=VARCHAR},
      team_location = #{record.teamLocation,jdbcType=VARCHAR},
      team_phone = #{record.teamPhone,jdbcType=VARCHAR},
      team_email = #{record.teamEmail,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.software.ysu.pojo.TeamWithBLOBs">
    update team
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamAim != null">
        team_aim = #{teamAim,jdbcType=VARCHAR},
      </if>
      <if test="teamLocation != null">
        team_location = #{teamLocation,jdbcType=VARCHAR},
      </if>
      <if test="teamPhone != null">
        team_phone = #{teamPhone,jdbcType=VARCHAR},
      </if>
      <if test="teamEmail != null">
        team_email = #{teamEmail,jdbcType=VARCHAR},
      </if>
      <if test="teamDes != null">
        team_des = #{teamDes,jdbcType=LONGVARCHAR},
      </if>
      <if test="teamMemberdes != null">
        team_memberDes = #{teamMemberdes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.software.ysu.pojo.TeamWithBLOBs">
    update team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_aim = #{teamAim,jdbcType=VARCHAR},
      team_location = #{teamLocation,jdbcType=VARCHAR},
      team_phone = #{teamPhone,jdbcType=VARCHAR},
      team_email = #{teamEmail,jdbcType=VARCHAR},
      team_des = #{teamDes,jdbcType=LONGVARCHAR},
      team_memberDes = #{teamMemberdes,jdbcType=LONGVARCHAR}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.software.ysu.pojo.Team">
    update team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_aim = #{teamAim,jdbcType=VARCHAR},
      team_location = #{teamLocation,jdbcType=VARCHAR},
      team_phone = #{teamPhone,jdbcType=VARCHAR},
      team_email = #{teamEmail,jdbcType=VARCHAR}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
</mapper>